
footer
  .container
    .footer-left
      p © 2020, аренда катера в Москве
    .footer-right
      a(href="#") Политика конфиденциальности
#inline.modal 
  h3 Закажите обратный звонок
  p.
    Оставьте контактные данные, и наши специалисты свяжутся с вами для консультации
  form(action="#") 
    input(type="text", placeholder="Введите имя")
    input(type="tel", placeholder="Номер телефона*")
    label
      input(type="checkbox")
      span Я согласен с 
        a(href="#") условиями конфиденциальности
    input(type="submit", value="Заказать звонок")